<form method="POST" action="/register" novalidate>
    {{ form.csrf_token }}
    
    <div class="form-group">
        {{ form.username.label(class="form-label") }}
        {{ form.username(size=20, class="form-control" + (" is-invalid" if form.username.errors else ""), placeholder="Enter your username here...") }}
        {% if form.username.errors %}
        <div class="error-messages">
            {% for error in form.username.errors %}
            <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    
    <div class="form-group">
        {{ form.password.label(class="form-label") }}
        {{ form.password(size=20, class="form-control" + (" is-invalid" if form.password.errors else ""), placeholder="Enter your password here...") }}
        {% if form.password.errors %}
        <div class="error-messages">
            {% for error in form.password.errors %}
            <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        {% endif %}
    </div>


    <div class="form-group">
        {{ form.confirm_password.label(class="form-label") }}
        {{ form.confirm_password(size=20, class="form-control" + (" is-invalid" if form.confirm_password.errors else ""), placeholder="Repeat your password here...") }}
        {% if form.confirm_password.errors %}
        <div class="error-messages">
            {% for error in form.confirm_password.errors %}
            <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    
    <div class="form-group">
        <input type="submit" value="Register" class="btn btn-primary">
    </div>
</form>