<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Clarity Check{% endblock %}</title>

    <!-- Google Fonts Start -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- Google Fonts End -->
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='external/notyf/notyf.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notyf.css') }}">
</head>
<body class="bg-bg text-text font-sans antialiased min-h-screen flex flex-col">
    {% include "partials/_header.html" %}
    {% include "partials/_messages.html" %}
    <main>
        {% block content %} {% endblock %}
    </main>
    {% include "partials/_footer.html" %}
    <script src="{{ url_for('static', filename='external/notyf/notyf.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/notyf.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>
</html>